{% macro header(page, current_user) %}
<header class="box-shadow-1 bg-white container-fluid">
  <nav class="top-navbar px-40 py-28">
    <div class="container-fluid p-0 d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <a class="navbar-brand m-0 pe-20" href="{{url_for('index')}}">
          <img src="{{url_for('static', filename='img/svg/logo.svg')}}" alt="">
        </a>
        <p class="text-light-3 border-start border-1 border-light-3 ps-20 fz-16 m-0">
          {{page}}
        </p>
      </div>
      <ul class="navbar-nav flex-row gap-64 align-items-center justify-content-end">
        <li class="nav-item">
          <a class="link-profile {% if 'profile' in request.path %} active {% endif %}" href="{{url_for('profile')}}">
            <div>
              <img class="img-profile-header" src="{% if current_user.profile_picture %} {{url_for('static', filename='uploads/profiles/') + current_user.profile_picture}} {% else %} {{url_for('static', filename='img/svg/profile.svg')}} {% endif %} " alt="">
            </div>
            <span class="px-16 fz-14 ff-poppins text-dark-1">
              {{ current_user.name }}
              {{ current_user.last_name }}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
{% endmacro %}