<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-1">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='img/svg/logo.svg') }}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end gap-16">
        {% if not current_user.is_authenticated %}
          {% if request.url_rule.rule == url_for('index') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-green-3 text-white" href="{{ url_for('register') }}">Cadastre-se</a>
            </li>
          {% elif not request.url_rule.rule == url_for('login') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">Cadastre-se</a>
            </li>
          {% endif %}
        {% else %}
          <li class="nav-item d-flex align-items-center">
            {{ current_user.name }}
            {{ current_user.last_name }}
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ url_for('static', filename='img/svg/profile.svg') }}" width="32" alt="">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sair</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>