<nav class="navbar navbar-expand-lg navbar-light bg-white py-32">
  <div class="container px-3">
    <a class="navbar-brand" href="{{ url_for('home.index_view') }}">
      <img src="{{ url_for('static', filename='img/svg/logo.svg') }}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end gap-32">
        <li class="nav-item d-flex align-items-center">
          <a class="ff-hind fz-16 fw-semi-bold text-dark-1 text-decoration-none" href="#sobre">
            Sobre
          </a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="ff-hind fz-16 fw-semi-bold text-dark-1 text-decoration-none" href="#contato">
            Contato
          </a>
        </li>
        <div class="border"></div>
        <li class="nav-item">
          <a class="fz-12 ff-poppins fw-semi-bold btn border border-green-3 border-radius-8 text-green-3 px-40 text-white" href="{{ url_for('auth.login') }}">
            Entrar
          </a>
        </li>
        <li class="nav-item">
          <a class="fz-12 ff-poppins fw-semi-bold btn btn-green-3 text-white border-radius-8" href="{{ url_for('auth.register') }}">
            Cadastrar-se
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>