//Forms

//formulário de login e registro

.form-login, .form-register {
  border-radius: 8px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

  hr {
    background: #cecece;
  }

  label {
    font-size: 12px;
    font-weight: 600;
    display: block;
    user-select: none;
    background: #FFFFFF;
    padding: 0 5px;
  }

  .input-field-1 {
    position: relative;
    display: flex;
    align-items: center;
    label {
      position: absolute;
      top: -8px;
      left: 11px;
    }
    input[type=checkbox] {
      cursor: pointer !important;
      all: unset;
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      background-repeat: no-repeat !important;
      background-position: center !important;
      &:checked {
        cursor: pointer !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
      }
      right: 16px;
    }
  }

  .input-check {
    all: unset;
    display: block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border: 1px solid #979797;
    border-radius: 2px;
    & + label {
      color: #979797;
      cursor: pointer;
    } 
    &:checked {
      border: 1px solid #00BF36;
      background-color: #00BF36;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      & + label {
        color: $dark-1;
      }
    }
    &:focus {
      outline: 1px solid black;
    }
   
  }
}

@media (max-width: 575.98px) {
  .form-login, .form-register {
    border-radius: 0;
  }
}