.form {
  border-radius: 8px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

  hr {
    background: #cecece;
  }

  label {
    font-size: 12px;
    font-weight: 600;
    display: block;
    user-select: none;
    background: #ffffff;
    color: #404040;
    padding: 0 5px;
  }

  .input-field-1 {
    position: relative;
    display: flex;
    align-items: center;
    label {
      position: absolute;
      top: -8px;
      left: 11px;
    }
  }
}

.input-field-2 {
  display: flex;
  align-items: center;
  position: relative;
  width: 540px;
  input {
    border-radius: 100px;
    width: 100%;
    border: 1px solid #BFBFBF;
    padding: 8px 16px;
    font-family: 'Hind';
    font-size: 16px;
    color: #404040;
    outline: none;
    &::placeholder {
      color: #BFBFBF; 
    }
    &:focus {
      border: 1px solid #00A62F;
    }
  }
  input[type='submit'] {
    display: none;
  }
  label {
    position: absolute;
    cursor: pointer; 
    right: 16px;
  }
}

@media (max-width: 575.98px) {
  .form {
    border-radius: 0;
  }
}
