//Inputs

//Input do tipo 1
.input-1 {
  all: unset;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 14px 16px;
  font-weight: 500;
  font-family: 'Hind';
  color: $dark-1;
  font-size: 0.875rem;
  background: #FFFFFF;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border: 1px solid #404040;
  }

  &::placeholder {
    color: #DADADA;
  }
}