//Links

a {
  user-select: none;
}

//Link do tipo 1
.link-1 {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

//Link do perfil
.link-profile {
  border: 1px solid #E5E5E5;
  border-radius: 100px;
  display: flex;
  align-items: center;
  text-decoration: none;
  user-select: none;
  img {
    border-radius: 50%;
    border-right: 1px solid #E5E5E5;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: block;
  }
  // padding-right: 16px;

  &.active {
    border: 1px solid #00A62F;
    img {
      border-right: 1px solid #00A62F;
    }
  }
}


//link de retorno
.return-link {
  width: 28px;
  height: 28px;
  background: #BFBFBF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}