{% from 'components/header.html' import header %}
{% from 'components/navbars.html' import side_navbar, admin_side_navbar %}

{% extends 'base.html' %}

{% block subtitle %} - Produtos {% endblock subtitle %}

{% block content %}

{{ admin_side_navbar(current_user) }}
{{header('Gerenciamento de produtos', current_user)}}
<main class="container-fluid container-xxl">
  <div class="py-32 px-80 d-flex gap-32 flex-column">
    <div class="bg-white p-24 box-shadow-1 border-radius-8 d-flex justify-content-between">
      <div>
        <form action="{{url_for('admin.product.product_list_view')}}" method="post" class="d-flex gap-32">
          {{ form.csrf_token }}

          {{ form.category(class='input-select') }}

          <div class="input-field-2">
            {{ form.search(class='form-control', placeholder='Digite o nome do produto') }}
            <label for="submitSearch">
              <img src="{{url_for('static', filename='img/svg/search.svg')}}" alt="">
            </label>
            {{ form.submit(id='submitSearch') }}
          </div>
        </form>
      </div>
      <a class="btn-1 bg-green-3 text-white" href="{{url_for('admin.product.product_create_view')}}">Criar produto</a>
    </div>
    <div class="bg-white p-24 box-shadow-1 border-radius-8">
      {% if products %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nome</th>
              <th scope="col">C</th>
              <th scope="col">T</th>
              <th scope="col">Foto</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <th scope="row">{{product.id}}</th>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.type}}</td>
              {% if product.picture %}
              <td>
                <img width="150px" class="img-product-admin"
                  src="{{url_for('static', filename='uploads/products/') + product.picture}}" alt="">
              </td>
              {% endif %}
              <td>
                <div class="d-flex gap-8">
                  <a href="{{url_for('admin.product.product_edit_view', id=product.id)}}" class="bg-green-3 py-1 px-2 rounded"
                    title="Editar produto">
                    <img src="{{url_for('static', filename='img/svg/edit.svg')}}" alt="">
                  </a>
                  <a href="{{url_for('admin.product.delete_product', id=product.id)}}" class="bg-danger py-1 px-2 rounded"
                    title="Deletar produto">
                    <img src="{{url_for('static', filename='img/svg/trash.svg')}}" alt="">
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      Ainda não existem produtos cadastrados :(
      {% endif %}

    </div>
  </div>
</main>

{% include 'components/footer.html' %}

{% endblock content %}