{% from 'components/header.html' import header %}
{% from 'components/navbars.html' import side_navbar, admin_side_navbar %}

{% extends 'base.html' %}

{% block subtitle %} - Usuários {% endblock subtitle %}

{% block content %}

{{ admin_side_navbar(current_user) }}
{{header('Gerenciamento de usuários', current_user)}}
<main class="container-fluid container-xxl">
  <div class="py-32 px-80 d-flex flex-column gap-32">
    <div class="bg-white p-24 box-shadow-1 border-radius-8 d-flex justify-content-between">
      <div>pesquisa e filtros</div>
      <a class="btn btn-green-3 text-white border-radius-8" href="{{url_for('admin.user.user_create_view')}}">Criar
        usuário</a>
    </div>
    <div class="bg-white p-24 box-shadow-1 border-radius-8">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
              <th scope="col">Nascimento</th>
              <th scope="col">E-mail</th>
              <th scope="col">Foto</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users.query.all() %}
            <tr>
              <th scope="row">{{user.id}}</th>
              <td>{{user.name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.birth_date}}</td>
              <td>{{user.email}}</td>
              {% if user.profile_picture %}
              <td>
                <img class="img-profile-admin"
                  src="{{url_for('static', filename='uploads/profiles/') + user.profile_picture}}" alt="">
              </td>
              {% endif %}
              <td>
                <div class="d-flex gap-8">
                  <a href="{{url_for('admin.user.delete_user', id=user.id)}}" class="bg-danger py-1 px-2 rounded"
                    title="Deletar usuário">
                    <img src="{{url_for('static', filename='img/svg/trash.svg')}}" alt="">
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

{% include 'components/footer.html' %}

{% endblock content %}