{% from 'components/header.html' import header %}
{% from 'components/navbars.html' import side_navbar, side_navbar_admin %}
{% extends 'admin/master.html' %}

{% block content %}

  {{ side_navbar_admin(current_user) }}
  {{header('Administração', current_user)}}
  <div class="container-fluid container-xxl">
    Número de produtos:
    {{ products.query.all() | length()}} <br>

    Número de usuários:
    {{ users.query.all() | length() }}

  </div>

  {% include 'components/footer.html' %}

{% endblock content %}
 