{% from 'components/header.html' import header %}
{% from 'components/navbars.html' import side_navbar, side_navbar_admin %}

{% extends 'admin/master.html' %}

{% block subtitle %} - Cadastro de produto {% endblock subtitle %}

{% block content %}

  {{ side_navbar_admin(current_user) }}
  {{header('Cadastro de produto', current_user)}}

  <main class="container py-32">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 px-0">
        <form action="{{url_for('products.create_view')}}" method="post" enctype="multipart/form-data" class="form py-32 px-16 p-md-32">
          {{ form.csrf_token }}

          <div class="input-field-1">
            <label for="productName">Nome</label>
            {{ form.name(class="input-1", id="productName", placeholder="Digite o nome do produto") }}
          </div>

          <div class="">
            {{ form.category(class="input-select", id="productCategory") }}
          </div>

          <div class="">
            {{ form.type(class="input-select", id="productName") }}
          </div>

          <div class="input-field-1">
            <label for="productName">Descrição</label>
            {{ form.description(class="input-1", id="productName") }}
          </div>

          <div class="">
            <label for="image" class="form-label">Imagem</label>
            <hr>
            {{form.picture(class="form-control",accept="image/png, image/jpeg", id="image", onchange="loadFile(event)")}}
            <div>
              <img class="img-fluid" id="output" />
            </div>
          </div>

          {{ form.submit(class="btn-1 bg-green-2 text-white") }}
        </form>
      </div>
    </div>
  </main>

  {% include 'components/footer.html' %}

{% endblock content %}
 