{% from 'components/header.html' import header %}
{% from 'components/navbars.html' import side_navbar, side_navbar_admin %}

{% extends 'admin/master.html' %}

{% block subtitle %} - Editar produto {% endblock subtitle %}

{% block content %}

  {{ side_navbar_admin(current_user) }}
  <main class="container-fluid">
    {{header('Editar produto', current_user)}}
    <div class="py-32 px-80 d-flex gap-32 flex-column">

      <div class="bg-white p-24 box-shadow-1 rounded">
        <form action="{{url_for('products.edit_submit', id=product.id)}}" method="post" enctype="multipart/form-data" class="d-flex flex-column">
          {{ form.csrf_token }}

          <label for="">nome</label>
          {{ form.name }}

          <label for="">categoria</label>
          {{ form.category }}

          <label for="">tipo</label>
          {{ form.type}}

          <label for="">Descrição</label>
          {{ form.description }}

          <label for="">Imagem do produto</label>

          {% if product.picture %}
            {{form.picture(accept="image/png, image/jpeg", id="image", onchange="loadFile(event)", value=product.picture)}}
            <img src="{{url_for('static', filename='uploads/products/' + product.picture)}}" class="img-product-admin" id="output" />
          {% else %}
            {{form.picture(accept="image/png, image/jpeg", id="image", onchange="loadFile(event)")}}
            <img class="img-product-admin" id="output" />
          {% endif %}

          {{form.submit(value='Salvar alterações')}}
        </form>
      </div>
    </div>
  </main>

  {% include 'components/footer.html' %}

{% endblock content %}
 