{% from 'components/header.html' import header %}
{% from 'components/navbars.html' import side_navbar, side_navbar_admin %}

{% extends 'admin/master.html' %}

{% block subtitle %} - Produtos {% endblock subtitle %}

{% block content %}

  {{ side_navbar_admin(current_user) }}
  <main class="container-fluid">
    {{header('Gerenciamento de produtos', current_user)}}
    <div class="py-32 px-80">
      <div class="bg-white p-24 box-shadow-1 rounded">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nome</th>
              <th scope="col">Categoria</th>
              <th scope="col">Tipo</th>
              <th scope="col">Foto</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products.query.all() %}
              <tr>
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.type}}</td>
                <td>{{product.picture}}</td>
                <td class="d-flex gap-8">
                  <a href="" class="bg-green-3 py-1 px-2 rounded" title="Editar produto">
                    <img src="{{url_for('static', filename='img/svg/edit.svg')}}" alt="">
                  </a>
                  <a href="{{url_for('products.delete_view', id=product.id)}}" class="bg-danger py-1 px-2 rounded" title="Deletar produto">
                    <img src="{{url_for('static', filename='img/svg/trash.svg')}}" alt="">
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>

  {% include 'components/footer.html' %}

{% endblock content %}
 