<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <!--styles css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/svg/veganlife-icon.svg')}}" type="image/x-icon">
    <title>VeganLife {% block subtitle %} {% endblock %}</title>

    <style>
      .input-check:checked {
        background: url('{{ request.host_url + "static/img/svg/check-light.svg" }}');
      }
      .input-field-1 input[type=checkbox] {
        background: url('{{ request.host_url + "static/img/svg/show.svg" }}') !important;
      }
      .input-field-1 input[type=checkbox]:checked {
        background: url('{{ request.host_url + "static/img/svg/hide.svg" }}') !important;
      }
    </style>
  </head>
  <body class="bg-light-4">
    {% block content %} 
    {% endblock %}
  </body>
</html>