{% extends 'base.html' %}

{% include 'components/nav.html' %}

{% block subtitle %} - Dashboard {% endblock %}

{% block content %}

<body>
  
  <div class="container py-32">
    <h1>
      Usuários cadastrados
    </h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <a href="{{ url_for('delete', id=user.id) }}">Deletar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% include 'components/footer.html' %}
</body>
{% endblock %}