{% from 'components/header.html' import header %}
{% from 'components/navbars.html' import side_navbar %}
{% extends 'base.html' %}

{% block subtitle %} - Perfil {% endblock %}

{% block content %}

{{ side_navbar(current_user) }}
{{ header('Configurações de Perfil', current_user ) }}

<main class="container py-32">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5 px-0">
      <form action="{{url_for('profile.submit_profile_edit')}}" method="post" enctype="multipart/form-data"
        class="form py-32 px-16 p-md-32">
        {{ form.csrf_token }}

        <div class="text-center d-block fw-medium fz-16 ff-poppins">
          Editar Perfil
        </div>

        <hr class="m-0">

        {% include 'components/notification.html' %}

        <div class="input-field-1">
          <label for="userName">Nome</label>
          {{ form.name(class='input-1', id='userName') }}
        </div>

        <div class="input-field-1">
          <label for="userLastName">Sobrenome</label>
          {{ form.last_name(class='input-1', id='userLastName') }}
        </div>

        <div class="input-field-1">
          <label for="userBirthDate">Data de nascimento</label>
          {{ form.birth_date(class='input-1', id='userBirthDate', value=user.birth_date) }}
        </div>

        <div class="input-field-1">
          <label for="userEmail">E-mail</label>
          {{ form.email(class='input-1', id='userEmail') }}
        </div>

        <div class="">
          <label for="image" class="form-label">Imagem de perfil</label>
          <hr>
          <div class="pb-16">
            <div class="d-flex justify-content-center">
              <div class="img-profile">
                <img src="{{url_for('static', filename='uploads/profiles/' + user.profile_picture)}}" id="output" />
              </div>
            </div>
          </div>
          {{form.profile_picture(class="form-control", accept="image/png, image/jpeg", id="image",
          onchange="loadFile(event)")}}
        </div>

        {{ form.submit(class="btn-1 bg-green-2 text-white", value="Salvar alterações") }}
      </form>
    </div>
  </div>
</main>

{% include 'components/footer.html' %}

{% endblock %}