{% extends 'base.html' %}

{% block subtitle %} - Login {% endblock %}

{% block content %}

<body style="background: #f2f2f2;">
  <div class="container py-80">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-5 px-0">
        <form class="form-login py-32 px-16 p-md-32" action="{{ url_for('login') }}" method="POST">
          <div class="d-flex justify-content-center">
            <a class="" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename='img/svg/logo.svg') }}" width="169" alt="Logo do veganlife">
            </a>
          </div>
          <hr class="m-0">
          <div class="text-center d-block fw-medium fz-16 ff-poppins">
            Bem-vinde de volta!
          </div>
          <div class="input-field-1">
            <label for="email">E-mail</label>
            <input class="input-1" type="email" name="email" id="email" placeholder="seuemail@exemplo.com">
          </div>
          <div class="input-field-1">
            <label for="password">Senha</label>
            <input class="input-1" type="password" name="password" id="password" placeholder="digite a sua senha">
          </div>
          <input class="btn-1 bg-green-2 text-white" type="submit" value="Logar">
          <hr class="m-0">
          <div class="d-flex justify-content-center ff-hind fz-12 fw-medium dark-1">
            Não possui uma conta? 
            <a class="link-1 text-blue-3 fz-12 ff-hind fw-bold ps-1" href="{{ url_for('register') }}">Cadastrar-se.</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% include 'components/footer.html' %}
</body>

{% endblock %}