{% from 'components/header.html' import header %}
{% from 'components/navbars.html' import side_navbar %}

{% extends 'base.html' %}

{% block subtitle %} - Produtos {% endblock %}

{% block content %}

  {{ side_navbar(current_user) }}
  
  <div class="container-fluid">
    {{ header('Pesquisa de Produtos', current_user ) }}
  </div>

  <main class="container-fluid pt-32">

    
    <div class="px-80 d-flex gap-32">
      <div>
        <img src="{% if product.picture %} product.picture {% else %} {{url_for('static', filename='uploads/products/default.png')}} {% endif %}" alt="">
      </div>
      <div>
        <h1>
          {{product.name}}
        </h1>
        <div>
          {{product.description}}
        </div>
      </div>
    </div>
    
  </main>

  {% include 'components/footer.html' %}

{% endblock %}