{% from 'components/header.html' import header %}
{% from 'components/cards.html' import produto %}
{% from 'components/navbars.html' import side_navbar %}

{% extends 'base.html' %}

{% block subtitle %} - Produtos {% endblock %}

{% block content %}

  {{ side_navbar(current_user) }}
  
  <div class="container-fluid">
    {{ header('Pesquisa de Produtos', current_user ) }}
  </div>

  <main class="container-fluid py-32">

    <div class="px-64 d-flex gap-32 flex-wrap">
      {% for product in products %}
        {{ produto(product.name, product.category, product.type, product.description, product.picture, product.id) }}
      {% endfor %}
    </div>
    
  </main>

  {% include 'components/footer.html' %}
  
{% endblock %}