{% from 'components/header.html' import header %}
{% from 'components/navbars.html' import side_navbar %}
{% extends 'base.html' %}

{% block subtitle %} - Perfil {% endblock %}

{% block content %}

{{ side_navbar(current_user) }}
{{ header('Configurações de Perfil', current_user ) }}

<main class="container-fluid container-xxl py-80">
  <div class="px-80 d-flex flex-column flex-md-row gap-64">
    <div class="d-flex flex-column gap-32 align-items-center">
      <div class="d-flex flex-column gap-24 align-items-center">
        <div class="img-profile">
          <img src="{{url_for('static', filename='uploads/profiles/' + user.profile_picture)}}" alt="">
        </div>
        <div class="w-100">
          <a href="{{url_for('profile.edit_profile')}}" class="btn btn-green-3 border-radius-8 text-white py-8 w-100">
            Editar perfil
          </a>
        </div>
        <div>
          <button type="button" class="link link-danger bg-transparent border-0 text-decoration-underline fz-14 ff-poppins fw-semi-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Excluir Conta
          </button>

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog h-100 d-flex align-items-center" style="max-width: 372px;">
              <div class="modal-content p-24 border-radius-8 bg-light-5 box-shadow-1 border-0">
                <div class="">
                  <h5 class="text-dark-2 ff-hind fz-16 fw-medium text-center m-0">
                    Tem certeza que deseja excluir a sua conta? Esta ação não poderá ser desfeita.
                  </h5>
                </div>
                <div class="d-flex gap-24 justify-content-center pt-24">
                  <button type="button" class="btn btn-green-3 ff-poppins fw-semi-bold fz-12 text-white px-32 border-radius-8" data-bs-dismiss="modal">
                    Voltar
                  </button>
                  <a href="{{ url_for('profile.delete_profile') }}" type="button" class="btn border border-danger text-danger ff-poppins fz-12 fw-semi-bold px-16 border-radius-8">
                    Sim, excluir!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column gap-32 w-100">
      <div class="bg-white border-radius-8 box-shadow-1 border border-1 border-light-5">
        <div class="p-16">
          <p class="ff-poppins fz-16 fw-medium m-0 text-dark-2">Dados Pessoais</p>
        </div>
        <hr class="bg-light-5 m-0 mb-8">
        <div class="bg-light-4 px-64 py-24 mb-8 d-flex flex-column flex-md-row gap-64 flex-wrap">
          <div>
            <p class="ff-hind fw-semi-bold fz-14 text-dark-1 mb-1">Nome</p>
            <p class="ff-hind fw-medium fz-16 text-dark-1 m-0">{{user.name}} {{user.last_name}}</p>
          </div>
          <div>
            <p class="ff-hind fw-semi-bold fz-14 text-dark-1 mb-1">Data de Nascimento</p>
            <p class="ff-hind fw-medium fz-16 text-dark-1 m-0">{{ formated_birth_date }}</p>
          </div>
        </div>
      </div>
      <div class="bg-white border-radius-8 box-shadow-1 border border-1 border-light-5">
        <div class="p-16">
          <p class="ff-poppins fz-16 fw-medium m-0 text-dark-2">Dados de Acesso</p>
        </div>
        <hr class="bg-light-5 m-0 mb-8">
        <div class="bg-light-4 px-64 py-24 mb-8 d-flex flex-column flex-md-row gap-64 flex-wrap">
          <div>
            <p class="ff-hind fw-semi-bold fz-14 text-dark-1 mb-1">E-mail</p>
            <p class="ff-hind fw-medium fz-16 text-dark-1 m-0">{{user.email}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% include 'components/footer.html' %}

{% endblock %}