{% extends 'base.html' %}

{% block subtitle %} - Register {% endblock %}

{% block content %}

<div class="container">

  <h1>Register</h1>
  <form style="width: 300px; display: flex; flex-direction: column; gap: 8px;" action="{{ url_for('register') }}" method="POST">
    <input class="form-control" type="text" name="name" placeholder="Nome completo">
    <input class="form-control" type="email" name="email" placeholder="E-mail">
    <input class="form-control" type="password" name="password" placeholder="Senha">
    <input class="btn btn-primary" type="submit" value="Cadastrar">
  </form>
  
</div>

{% endblock %}