{% extends 'base.html' %}

{% block subtitle %} - Usuário #{{ user.id }} {% endblock %}

{% block content %}

<div class="container mt-5">

  <a class="btn btn-primary" href="{{ url_for('index') }}">
    <i class="fa-solid fa-arrow-left"></i>
    Voltar
  </a>

  <table class="table mt-3">
    <tbody>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.profile.photo }}</td>
      <td>
        <a class="btn btn-danger btn-small" href="{{ url_for('delete', id=user.id)}}">
          <i class="fa-solid fa-trash"></i>
        </a>
      </td>
    </tbody>
  </table>

</div>
{% endblock %}